<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">
	
	<select id="loginCheck" resultType="String">
		SELECT name AS userName FROM member
		WHERE userid = #{userId} AND pwd = #{userPw}
	</select>
	
	<select id="viewMember" resultType="com.example.spring02.model.member.dto.MemberVO">
		SELECT 
			name AS userName,
			userid AS userId,
			email AS userEmail,
			regdate AS userRegdate
		FROM member
		WHERE userid = #{userId} AND pwd = #{userPw}
	</select>
	<!-- 페이징 sql -->
	<sql id="pagingHeader">
		SELECT * FROM (
			SELECT ROWNUM AS rn, A.* FROM (
	</sql>
	<sql id="pagingFooter">
			) A
		) WHERE rn BETWEEN #{start} AND #{end}
	</sql>
	
	<insert id="insertMember">
        insert into member (name, userid, pwd, phone, upper_member, status) values
        (#{userName}, #{userId}, #{userPw}, #{phone}, #{upper_member}, #{status})
    </insert>
    <update id="updateMember" >
        update member set
        name = #{userName}, pwd = #{userPw},
        email = #{userEmail}, phone = #{phone}, admin = #{admin}
        where userid = #{userId}
    </update>
    <delete id="deleteMember">
        delete from member where userid = #{userid}
    </delete>
</mapper>
